<html lang="ja-JP" class>
<!-- 日本語である事を示す -->
  <head>
    <meta charset="UTF-8">
    <!-- UTF-8形式で記述する宣言 -->
    <link rel="stylesheet" type="text/scss" href="signup.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- デバイスに対応した大きさ、ズーム倍率の設定、今回は最後の記述で固定倍率とした -->
    <meta name="format-detection" content="telephone=no">
    <!-- 電話番号的な羅列でもリンクにしない処理 -->
    <title>会員情報入力 - メルカリ スマホでかんたん フリマアプリ
    </title>
  </head>

  <body>
    <div class="all-container">
      <!-- viewの全てを囲む -->
      <header class="header">
        <h1>
        <a href="">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1714804574" alt="mercari">
        </a>
        </h1>

      <nav class="progress-bar signup-bar">
        <ol class="clearfix">
          <li class="">
           会員情報
            <div class="progress-status"></div>
         </li>
          <li class="">
            電話番号認証
           <div class="progress-status"></div>
          </li>
          <li class="">
            お届け先住所入力
            <div class="progress-status"></div>
         </li>
         <li class="active">
           支払い方法
           <div class="progress-status"></div>
         </li>
         <li class="">
                     完了
                   <div class="progress-status"></div>
         </li>
       　</ol>
      </nav>
      </header>

    <main class="main-view-container">
      <div class="main-view">
        <h2 class="sub-header">支払い方法</h2>
          <form id="registration-form" action="" method="POST" class="inner-register-form"　novalidate="novalidate">
            <div class="form-create">            
              <div class="form-index">
                <label for="mickname">カード番号</label>
                <span class="need-select">必須</span>
                <input type="text" value name="nickname"
                placeholder="   半角数字のみ" class="input-default">
              </div>
              <div class="signup-cards">
                <ul class="signup-card-list">
                  <li>
                    <img src="//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3649802486" width="49" height="20" alt="">
                  </li>
                  <li>
                    <img src="//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3649802486" width="34" height="20" alt="">
                  </li>
                  <li>
                    <img src="//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3649802486" width="30" height="20" alt="">
                  </li>
                  <li>
                    <img src="//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3649802486" width="32" height="20" alt="">
                  </li>
                  <li>
                    <img src="//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3649802486" width="21" height="20" alt="">
                  </li>
                  <li>
                    <img src="//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3649802486" width="32" height="20" alt="">
                  </li>
                  <li>
                    <img src="//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3649802486" width="32" height="20" alt="">
                  </li>
                </ul>
              </div>
              
                <div class="form-index-ex">
                  <label for="birthday">有効期限</label>
                  <span class="need-select">必須 </span>
                 <br><br><br>
                 <div class="border">
                     <div class="select-wrap-2">
                       <i class="icon-arrow-bottom">
                          <!-- ::beforeがよく分からず放置 -->
                        </i>
                        <!-- select-defaultでクラスを統一しています -->
                        <select name="month" class="select-default-2" aria-invalid="false">      
                        <option value="">--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                      <span class="years">月</span>
                    </div>
                    <div class="select-wrap-2">
                      <i class="icon-arrow-bottom">
                        <!-- ::beforeがよく分からず放置 -->
                      </i>
                      <select name="years" class="select-default-2" aria-invalid="false">
                        
                         <option value="">--</option>
                          <option value="2019">2019</option>
                          <option value="2018">2018</option>
                          <option value="2016">2016</option>
                          <option value="2015">2015</option>
                          <option value="2014">2014</option>
                          <option value="2013">2013</option>
                          <option value="2012">2012</option>
                          <option value="2011">2011</option>
                          <option value="2010">2010</option>
                          <option value="2009">2009</option>
                          <option value="2008">2008</option>
                          <option value="2009">2009</option>
                          <option value="2008">2008</option>
                          <option value="2007">2007</option>
                          <option value="2006">2006</option>
                          <option value="2005">2005</option>
                          <option value="2004">2004</option>
                          <option value="2003">2003</option>
                          <option value="2002">2002</option>
                          <option value="2001">2001</option>
                          <option value="2000">2000</option>
                          <option value="1999">1999</option>
                          <option value="1998">1998</option>
                          <option value="1997">1997</option>
                          <option value="1996">1996</option>
                          <option value="1995">1995</option>
                          <option value="1994">1994</option>
                          <option value="1993">1993</option>
                          <option value="1992">1992</option>
                          <option value="1991">1991</option>
                          <option value="1990">1990</option>

                      </select>
                      <span class="years">年</span>
                    </div>
                  </div>
              </div>
          
              <div class="form-index">
                <label for="mickname">セキュリティコード</label>
                <span class="need-select">必須</span>
                <input type="text" value name="nickname"
                placeholder="カード背面４桁もしくは３桁の番号" class="input-default">
            </div>

            <a href="#" class="right-messages"><br>カード裏面の番号とは？
            </a>

            <div class="last-content">
              <!-- 次へ進むボタンを作成 -->
              <button type="submit" class="next-page">
                追加する
              </button>
            </div>


            <footer class="single-footer">
          <nav>
            <ul class="clearfix">
              <li>
                <a href="">プライバシーポリシー</a>
              </li>
              <li>
                <a href="">メルカリ利用規約</a>
              </li>
              <li>
                <a href="">特定商取引に関する表記</a>
              </li>
            </ul>
          </nav>

          <a href="" class="single-footer-logo">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3649802486" alt="mercari" width="80" height="65">
          </a>
          <p>
            <small>© Mercari, Inc.</small>
          </p>
        </footer>