.all-container
  / viewの全てを囲む
  %header.header-login
    %h1
      = link_to '#', class: "link", target: "_blank" do
        = image_tag 'merukari.svg',class: "login-mercari"
  %main.main-view-container
    .main-view
      %h2.sub-header 新規会員登録
      %form.l-single-inner.registration-form{action: "#", method: "POST", novalidate: "novalidate"}
        .l-single-content
          .form-create
            .last-content
              .form-index
                %button.next-page-red{type: "submit"} メールアドレスで登録する
                %button.next-page-blue{type: "submit"} Facebookで登録する
                %button.next-page-black{type: "submit"} Googleで登録する
= render 'shared/fotter'