.christine {
  *{
    box-sizing: border-box
  }
  section.itm_box_container {
    padding: 24px 40px 40px;
    background: #fff;
    margin: 40px auto 0;
    width: 700px;
    height: 832px;
    display: block;
  }

  h1.itm_name {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
  }
  .main_itm_container{
    margin: 16px 0 0;
    width: 620px;
    height: 420px;
  }
  .itm_picture {
    float: left;
    max-width: 300px;
    min-height: 375px;
    position: relative;
    margin: 0 auto;
    background: #fafafa;
    height: 100%;
    text-align: center;
    &__one {
      position: relative;
    }
    &__main {
      position: relative;
      overflow: hidden;
    }
    &__width {
      position: relative;
      left: 0px;
      width: 1500px;
    }
    &__active {
      width: 300px;
      min-height: 1px;
      float: left;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
      
      &__one {
        min-height: 300px;
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 100%;
      }
    }
  }
  img.img_itm_one {
    width: 225px;
    height: 300px;
  }
  .disabled {
    display: none;
  }
  .img_reductions {
    line-height: 0;
  }
  .img_reduction {
    opacity: 1;
    cursor: default;
    width: 60px;
    height: 60px;
    max-height: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .img_reduction__one {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
  }
  .img_itm_reduction {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  img.img_itm_reduction {
    width: 100%;
    vertical-align: bottom;
  }
  .itm_pricebox {
    margin: 24px 0 0;
    text-align: center;
    height: 50px;
    width: 620px;
    
    &__pricee {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: 600;
      height: 100%;
    }
    &__taxe {
      font-size: 10px;
      height: 100%;
      padding-top: 33px;
    }
    &__shippingfee {
      display: inline-block;
      height: 100%;
      padding-top: 33px;
    }
  }
  .itmbtn_float {
    padding: 6px 16px;
    width: 620px;
    background-color: #fff;
    z-index: 3;
    height: 60px;
  }
  .itm_purchasebtn {
    font-size: 24px;
    line-height: 60px;
    display: block;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: 600;
    transition: all ease-out .3s;
    width: 620px;
  }
  .itm_purchasebtn_byapp {
    display: none;
  }
  .itm_detailbox {
    float: right;
    max-width: 300px;
    height: 420px;
    margin: 0 auto;
  }
  tbody {
    width: 299px;
    height: 419px;
  }
  th {
    width: 39%;
    text-align: left;
    font-weight: 400;
    background: #fafafa;
    padding: 8px;
  }
  td {
    width: 61%;
    background: #fff;
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
  }
  a.itm_detailbox {
    color: #0099e8;
    text-decoration: none;
  }
  .icon_ratings {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    &__laugh {
      color: #ef5185;
    }
    &__meh {
      color: #fba933;
    }
    &__frown {
      color: #6ab5d8;
    }
  }
  .bluecolll {
    color: #0099e8;
  }
  .itm_description {
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 18px;
  }
  .itm_description__inner {
    white-space: pre-wrap;
    width: 100%;
  }
  .itm_btncontain {
    width: 620px;
    height: 40px;
    margin: 16px 0 0;
    &__lft {
      float: left;
      color: #333;
      width: 334px;
      height: 100%;
      display: flex;
      &__likeyy {
        width: 119px;
        border-radius: 40px;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        padding: 8px 16px;
        height: 33px;
        position: relative;
        display: flex;
      }
      &__rating {
        border-radius: 40px;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        padding: 8px 16px;
        width: 180px;
        height: 33px;
        margin-left: 10px;
        display: inline-block;
        position: relative;
      }
      &__iine {
        height: 100%;
        padding-left: 3px;
      }
      &__number {
        height: 100%;
        padding-left: 5px;
      }
    }
    &__rgt {
      float: right;
      margin: 8px 0 0;
      color: #0099e8;
      text-decoration: none;
      height: 100%;
    }
  }
  .fa-heart {
    height: 16px;
    width: 16px;
    display: inline-block;
  }
  .itm_dtl_msg {
    width: 700px;
    height: 262px;
    margin: 8px auto;
    &__container {
      padding: 24px;
      background: #fff;
    }
  }
  .msgform_comment {
    padding: 8px;
    background: #fff6de;
  }
  .textareadeful {
    display: block;
    margin: 8px 0 0;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  .msgsubmin {
    width: 100%;
    margin: 8px 0 0;
    text-align: center;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    line-height: 40px;
    &__comment {
      margin-top: 10px;
    }
  }
  .navicontainer_one {
    width: 700px;
    height: 28px;
    vertical-align: middle;
    margin: 24px auto 0;
    position: relative;
  }
  .naviitm_landr {
    margin: 0 auto 0;
    width: 100%;
    height:100%;
    display: inline-block;
    list-style: none;
  }
  .navi_itmprev {
    height: 14px;
    width: 45%;
    top: 50%;
    padding: 0 14px 0 0;
    float: left;
    color: #0099e8;
    position: absolute;
  }
  .navi_itmnext {
    height: 14px;
    width: 45%;
    top: 50%;
    color: #0099e8;
    right: 0;
    position: absolute;

    &__r {
      float: right;
      display: inline-block;
    }
  }

  .itm_socialmedia {
    margin: 24px auto;
    padding: 32px 0 24px;
    width: 700px;
    background: #fff;
    &__txt_center {
      text-align: center;
    }
    &__boxx {
      margin: 16px 0 0;
      text-align: center;
      font-size: 0;
      list-style: none;
      &__link {
        display: inline-block;
        margin: 0 8px 8px 0;
        vertical-align: middle;
        text-align: center;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        line-height: 44px;
        color: #fff;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  .linktoicons_fa {
    background: #385185;
    color: #fff;
    font-size: 30px;
  }
  .linktoicons_tw {
    color: #fff;
    background: #5d9dc9;
    font-size: 30px;
  }
  .linktoicons_pi {
    color: #fff;
    background: #aa262a;
    font-size: 20px;
  }
  .otherrecomendation_containerss {
    width: 700px;
    height: 1600px;
    margin: 0 auto;
  }
  .otherrecomendationsss {
    width: 100%;
    height: 740px;
  }
  .owners_protitles {
    font-size: 22px;
    margin: 24px 0 0;
    &__otherone {
      color: #0099e8;
      text-decoration: none;
    }
  }
  .otherrecomenditm_container {
    margin: 0 auto;
    width: 100%;
    height: 780px;
    flex-wrap: wrap;
    padding: 2.5% 0;
  }

  .o_protitles_links{
    display: table;
    width:100%;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    height: 250px;


    &__one{
      width: 20%;
      padding: 10px;
      display: table-cell;

      &__style {
        visibility: visible;
        transition: all 0.5s ease 0s;
        opacity: 1;
      }
    }
    &__two {
      align-items: center;
      display: flex;
      width: 220px;
      height: 330px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,.18);
      flex-direction: column-reverse;
      margin: 0;
      overflow: hidden;
      z-index: 0;
      position: relative;
    }
    &__three {
      height: 220px;
      box-sizing: border-box;
      color: #222;
      font-size: 14px;
      line-height: 1.4em;
      padding: 12px;
      white-space: normal;
      word-break: break-word;
    }
  }
  .owners_itm_lnks {
    width: 100px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration: none;
    vertical-align: top;
  }
  .owners-recommend {
    width: 220px;
    height: 220px;
    bottom: 0;
    position: absolute;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    z-index: 1;
    left: 0;
  }
  .thumbnail_style_p {
    height: 220px;
    overflow: hidden;
    padding: 0 0 100%;
    position: relative;
    width: 100%;
  }
  .owners_price {
    left: 0%;
    letter-spacing: .02em;
    border-radius: 0 14px 14px 0;
    bottom: 15px;
    -webkit-box-align: center;
    align-items: center;
    color: #222;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 17px;
    padding: 0 12px;
    z-index:  2;
    position: absolute;
  }
  .fab {
    font-family: "Font Awesome 5 Brands";
    color: white;
  }
}

.l-single-container {
  width: 700px;
  margin: 0 auto;
  text-decoration: none;
}
.listing-item-change-box {
  margin: 24px 0 24px 0;
  background: #fff;
  padding: 8px 16px 8px 16px;

}
.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.listing-item-change-box p {
  font-size: 16px;
}

.text-center {
  text-align: center;
}
  .btn-gray {
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
}
.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  margin: 16px 0 16px 0;
  text-decoration: none;
}