%aside.banner
  .banner__main
    .banner__main__inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .banner__icon.clearfix
        %figure= image_tag 'mercari.png', :size => '68'
        %ul.clearfix
          %li
            %a{:href => "#", :target => "_blank"}
              = image_tag 'apple.svg', :size => '130x40'
          %li.last
            %a{:href => "#", :target => "_blank"}
              = image_tag 'Google.png', :size => '130x40'
    %figure= image_tag 's.png', :size => '300x260'
