.main {
  padding: 42px 0px 100px;
  left: 50%;
  margin-right: 50px;
  position: relative;
  top: 0%;
  width: 100%;
}
h2.category_h2{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255);
}
.category-lis{
  background-color: rgb(255, 255, 255);
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}
ul.category_ul {
  list-style: none;
  padding: 16px;
  display: flex;
}
li.category_li{
  display: inline;
}
.ct-list {
  list-style: none;
  padding: 16px;
  display: block;
  text-align: center;
  width: 100%;
  margin: -10px 0px 0px -10px;
}
.first-ct {
  margin: 10px 0px 0px 10px;
  display: inline-block;
}
.popular-ct {
  background-color: rgb(239, 239, 239);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  padding: 8px 16px;
}

.popular_itms {
  vertical-align: baseline;
    margin: auto;
    padding: 42px 0px 100px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
    box-sizing: border-box;
    width: 1020px;
    height: 2926px;
}

.ladies_items {
  display: block;
}

.ladies_titles{
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.ladies_title{
flex: 1 1 0%;
font-size: 24px;
font-weight: 600;
line-height: 1.4em;
margin: 0;
padding: 0;
}
h3.category_h3 {
  display: block;
  box-sizing: border-box;
}
h4.category_h4 {
  display: block;
  box-sizing: border-box;
}
.see_more_ladiesitm {
  font-size: 14px;
  padding: 5px 16px 5px 5px;
  color: rgb(0, 149, 238);
  font-weight: 600;
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
}
.ladiesitm_links_container {
  width: 1024px;
  height: 674px;
  flex-wrap: wrap;
  padding: 2.5% 0;
}
 div {
   display: block;
 }

.ldies_itm_lnks{
  width: 100px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}
.ladiesitm_one {
  width: 20%;
  padding: 10px;
}
.ladies_itm_lnk{
  align-items: center;
  display: flex;
  width: 188%;
  height: 250px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.18);
  flex-direction: column-reverse;
  margin: 0;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
figcaption{
  height: 64px;
  box-sizing: border-box;
  color: #222;
  font-size: 14px;
  line-height: 1.4em;
  padding: 12px;
  white-space: normal;
  word-break: break-word;
}
.ladies-recommend {
  width: 200px;
  height: 150px;
  bottom: 0;
  position: absolute;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  z-index: 1;
  left: 0;
}
.thumbnail_style_p {
  height: 0;
  overflow: hidden;
  padding: 0 0 100%;
  position: relative;
  width: 100%;
}
span.category_spa {
  display: inline-block;
  height: 2.8em;
  overflow: hidden;
  position: relative;
}
.style_figcaptions {
  -webkit-box-align: center;
  align-items: center;
  background: #fff;
  bottom: 0;
  display: flex;
  height: 1.4em;
  margin: auto;
  position: absolute;
  right: 12px;
  top: 1.4em;
}
.label_price {
  left: 0%;
  letter-spacing: .02em;
  border-radius: 0 14px 14px 0;
  bottom: 8px;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(0,0,0,.4);
  color: #fff;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 17px;
  margin: 0;
  padding: 0 12px;
  z-index:  2;
  position: absolute;
}
.ladies-recommend{
  bottom: 0;
  position: absolute;
  top: 0;
  width: 188px;
  height: 188px;
}
.new_itembox {
  background-color: red;
  border-radius: 50%;
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  z-index: 2;
}
.newitembox_link {
  display: block;
}
.new_itembox__btn {
  position: absolute;
  text-align: center;
  width: 160px;
  height: 160px;
  padding-top: 32px;
}
.new_itembox__btn__text {
  font-size: 22px;
  color: rgb(255, 255, 255);
}
.fa-camera {
  color: rgb(255, 255, 255);
  display: block;
  width: 130px;
  margin-top: 8px;
  height: 54px;
  margin: 5px auto 0px;
  font-size: 60px;
}