
.toppage-header-wrapper{
  background-color: rgb(255, 255, 255);
 
}
.toppage-header-top {
  margin: 0px auto;
  width: 1020px;
  padding: 8px 0px 0px;
  font-family: '游ゴシック', 'YuGothic', 'arial unicode ms',sans-serif;
    &__header {
      &-contents  {
        display: flex;
        width: 100%;
      &--mercari-logo {
        width: 134px;
        margin-right: 45px;
        height: 40px;
      }
    .toppage-header-top__header-search {
      width: 100%;
      position: relative;
      &--search-form {
          background-color: rgb(245, 245, 245);
          font-size: 16px;
          height: 40px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204, 204, 204);
          border-radius: 4px;
          padding: 0px 50px 0px 10px;          
          width: 100%;
          &:focus{
            border-color: rgb(0, 149, 238);
          }
          }
        &--search-btn {
          width: 16px;
          height: 16px;
          line-height: 1.4em;
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 5px;
        }
       }
    }
  }

    &__footer {
      display: flex;
      margin-top: 8px;
      justify-content: space-between;
      font-size: 14px;

      &-search  {
        height: 50px;
        a:hover {
          color:  #0095ee;
        }
        &-categories  {
          position: relative;
        }
        &-categories li{
          float: left;
        }
        &-categories li a {
            font-size: 14px;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 44px;
            font-weight: bold;
            color: #333;
            text-decoration: none;
        }
        &-text  {
          padding-right: 20px;
        }
        &-brand {
          box-sizing: border-box;
          font-size: 14px;
          margin: 0;
          width: 224px;
          &--icon {
            transform: rotate(-45deg);
          }
        }
      }
      &-contents  {
        display: flex;
        height: 44px;
        line-height: 32px;
        flex-direction: row;
        position: relative;
        justify-content: baseline;
        li  {
          padding: 0 14px;
          display: inline-block;
        }
         a {
          color: #333;
          text-decoration: none;
        }
        span  {
          margin-left: 10px;
        }
        span:hover  {
          color:  #0095ee;
        }
        
        &-login-content  { 
          &--heart-icon {
            font-size: 20px;
          }
          &--bell-icon {
            font-size: 20px;
          }
          &--check-icon {
            font-size: 25px;
          }
          &--mypage-header-user-icon   {
            border-radius: 50%;
          
          }   
        }              
      }  
    }     
}

