header{
  background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
}
.top-container{
  width: 1020px;
  margin: 0px auto;
  padding: 8px 0px 0px;
  box-sizing: border-box;
}
.top-center{
  display: flex;
    justify-content: space-between;
}
.home-icon{
  box-align: center;
    align-items: center;
    display: flex;
    height: 40px;
    margin-right: 45px;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  color: inherit;
  text-decoration: none;
}
.icon-top{
  vertical-align: middle;
}
.side-icon {
  height: 36px;
    width: 134px;
}
img {
  vertical-align: middle;
}

.info-searches{
  position: relative;
  width: 100%;
}
.info-search{
  background-color: rgb(245, 245, 245);
    font-size: 16px;
    height: 40px;
    line-height: 1.4em;
    position: relative;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 4px;
    outline: none;
    padding: 0px 50px 0px 10px;
}
.search-btn {
  background-color: transparent;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    -webkit-appearance: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px 4px 4px 0px;
    padding: 0px;
}

.top-bottom {
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
}
.top-bottom-left {
  display: flex;
  margin-left: -3px;
}
.sc-category {
  padding-left: 0px;
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
}
.category {
  display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    white-space: nowrap;
}
.sc-brand-category {
  padding-right: 0px;
  cursor: pointer;
    height: 44px;
    position: relative;
    z-index: 3;
    padding: 0px 10px;
}
.brand-category {
  display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    white-space: nowrap;
}
.top-bottom-right {
  display: flex;
}
.sc-new {
  text-align: center;
}
.add-new {
  background-color: rgb(234, 53, 45);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 53, 45);
    border-image: initial;
    border-radius: 4px;
    padding: 8px 10px;
}
.sc-login {
  text-align: center;
    margin-left: 11px;
}
.login {
  background-color: rgb(255, 255, 255);
    color: rgb(0, 149, 238);
    display: block;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 149, 238);
    border-image: initial;
    border-radius: 4px;
    padding: 8px 10px;
    transition: all 0.3s ease-out 0s;
}
.fa-tag, .fa-list {
  color: rgb(234, 53, 45);
}