body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;

  .all-container {
    .main-view-conteiner {
    padding: 0 0 250px;
    }
    .header-login {
      text-align: center;
      height: 50px;
      padding: 10px;
        .login-mercari {
          width: 120px;
          height: 33px;
      }
    }
    .main-view {
      max-width: 456px;
      margin: 0 auto;
      background: #fff;

      label {
        font-weight: 600;
        z-index: 2;
        font-size: 14px;
        vertical-align: middle;
        cursor: pointer;
      }
      .login-none-account {
        padding: 24px 32px;
        text-align: center;
        a {
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
        }
      }
      .login-face-gog {
        padding: 24px 32px;
        border-top: 1px solid #eee;
        .login-none-account-deep-blue {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          background: #385185;
          color: #fff;
        }
        .login-none-account-black {
          margin: 16px 0 0;
          background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
          border: #979797 solid 1px;
          color: #333;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
      }

    }
  }
}