.logout-main{
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 174px;
  .logout-in{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 50px;
    background: #ea352d;
    border: solid 1px #ea352d;
    a.btn-logout{
      text-align: center;
      width: 320px;
      // box-sizing: border-box;
      // background: #ea352d;
      // border: solid 1px #ea352d;
      color: #ffff;
    }
  }
}