.header {
    display: inline-block;
    margin: 11px 0 12px;
    background-color: red;
}
.main-view {
    padding: 24px 8px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    background-color: red;

    font-size: 18px;
    line-height: 1.5;
    text-align: center;