@import 'config/reset';
@import 'config/font_size';
@import 'config/colors';
@import 'config/size';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "mixins/vendor_prefix";
@import 'mypage/mypage';
@import 'mypage/profile';
@import 'registration/creditpages';
@import 'registration/login';
@import 'registration/logoutpages';
@import 'registration/sells.scss';
@import 'registration/signup';
@import 'shared/fotter';
@import 'toppage/tops';
@import 'toppage/toppage_header';
@import 'toppage/topslide';
@import 'toppage/category';
@import 'bread-crumbs';
@import 'shared/camera';
@import 'mypage/mypage_kondo';
@import 'sell';
@import 'signup/signup-header';
@import 'product_detail/products_details';
@import 'signup/signup-footer';
@import 'payment/show_cards';
@import 'signup/signup-login';
@import 'purchase';
// @import 'buydetails';
// @import 'item-edit';
@import 'payment/done';
@import 'payment/purchase'