// Place all the styles related to the logoutpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logout-main{
  // position: absolute;
  // top: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  // float: left;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 174px;
  .logout-in{
     display:block;
     max-width: 320px;
    .btn-logout{
      font-size: 14px;
      box-sizing: border-box;
      background: #ea352d;
      border: solid 1px #ea352d;
      color: #ffff;
      height: 50px;
      width: 320px;
      margin: auto;
    }
  }
}