.clearfix:after {
  content: '';
  display: block;
  clear: both;
}


.sell-container {
  padding-bottom: 220px;
}

.sell-main{
  &__container {
    background: #fff;
    height: 1996px;
    width: 700px;
    margin: 0 auto;
  }

  &__head {
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }

  &__form {
    border-top: 1px solid #eee;
  }

  &__upload-box {
    width: 620px;
    padding: 40px;
  }

  &__upload-head {
    font-size: 16px;
    &+ p {
      margin-top: 8px;
      line-height: 1.5;
    }
  }
  &__form-require {
    background: #ea352d;
    margin-left: 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  &__dropbox-container {
    margin: 16px auto 0;
    display: block;
    width: 620px;
  }

  &__upload-items {
    display: inline;
    ul {
      display: inline;
      width: 100%;
    }
  }

  &__upload-drop-box {
    position: relative;
    min-height: 162px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
    -webkit-transition: -webkit-box-shadow ease-out .3s;
    transition: -webkit-box-shadow ease-out .3s;
    transition: box-shadow ease-out .3s;
    transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
    cursor: pointer;
    float: right;

    width: 620px;
    padding: 40px;
    pre {
      position: absolute;
      top: 50%;
      left: 16px;
      right: 16px;
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      pointer-events: none;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
  &__content {
    padding: 40px;
    border-top: 1px solid #eee;
  }
  &__form-group {
    margin: 40px 0 0;
    
    &:first-child {
      margin: 0;
    }
  }
  &__input-default {
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    &:focus {
      border-color: #0099e8;
    }
  }
  &__textarea-default {
    margin: 8px 0 0;
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    &:focus {
      border-color: #0099e8;
    }
  }
  &__sub-head {
    color: #888;
    font-size: 14px;
    float: left;
  }
  &__form-box {
    margin: 40px 0 0;
    float: right;
    width: 400px;
    margin: 0;
  }
  &__select-wrap {
    position: relative;
    .fa-chevron-down {
      position: absolute;
      right: 16px;
      top: 50%;
      color: #888;
      font-size: 18px;
      transform: translate(0, -50%);
    }
  }

  &__form-question {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
  &__price{
    & > li {
      padding: 24px 0;
      border-top: 1px solid #ccc;
      &:first-child {
        padding: 0 0 24px;
        border: 0;
      }
    }
  }

  &__right {
    float: right;
    color: #333;
  }
  &__price-input {
    text-align: right;
    .sell-main__input-default {
      margin: 0;
      text-align: right;
    }
    & > div {
      display: inline-block;
      width: 80%;
      margin: 0 0 0 5%;
    }
  }
  &__btn-box{
    p {
      line-height: 1.5;
    }
    // a {
    //   line-height: 1.5;
    //   color: #0099e8;
    // }
  }
  &__btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  &__btn-red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    margin: 40px 0 0;
  }
  &__btn-gray {
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    width: 45%;
    margin: 24px auto 0;
  }
}
