!!!
%html{:lang => "ja-JP"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title mercari
    %link{:href => "style.css", :rel => "stylesheet"}/
  %body
